@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i,600i|Spectral:500&display=swap');



/* ---- layout styles ---- */

body {
  padding: 3% 3%;
  background-color: #FFFFFF;
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

.icons {
  text-align: center;
  margin-top: 48px;
}

@media screen and (max-width: 768px) {
  .content {
    position: initial;
    transform: translate(0%, 0%);
    margin: 0 auto;
    width: 100%;
  }
}



/* ---- text styles ---- */

h1 {
  color: #212121;
  font-family: "Spectral";
  font-size: 4em;
}

p {
  color: #212121;
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 1.4em;
  line-height: 1.5;
  padding-bottom: 15px;
}

.link {
  font-weight: 400i;
  color: #001EF9;
  font-style: italic;
  text-decoration: none;
  background: linear-gradient(180deg, transparent 62%, #001EF9 50%, #FFEAD2 50% /*0*/) 50%/0 75% no-repeat;
  background-size: 100% 100%;
  transition: background-color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

.link:hover,
.link:focus {
  cursor: pointer;
  font-weight: 600;
  font-style: italic;
  border: none;
  outline: none;
  background: linear-gradient(62deg, #001EF9, #FFEAD2);
  color: #FFFFFF;
}

.link:visited {
  cursor: pointer;
  color: #001EF9;
}

.icons > a > i {
  font-size: 30px;
  color: #212121;
  margin: 8px;
  padding: 4px;
}

.icons > a > i:visited {
  color: #212121;
  cursor: pointer;
}

.icons > a > i:hover {
  background: linear-gradient(81deg, #001EF9, #FFEAD2);
  color: #FFFFFF;
}

.icons > a > i:focus {
  outline: none !important;
  border: none !important;
}

.icons > a:focus {
  outline: none !important;
  border: none !important;
}

.icons > a:focus > i {
  background: linear-gradient(81deg, #001EF9, #FFEAD2);
  color: #FFFFFF;
}

.gradient-text {
  background: -webkit-linear-gradient(81deg, #001EF9, #FFEAD2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 10px;
}
