@font-face {
  font-family: "Mazius";
  src: url("MAZIUSREVIEW20.09-Extraitalic.woff2") format("woff2"),
       url("MAZIUSREVIEW20.09-Extraitalic.woff") format("woff");
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,700;1,500&display=swap');


/* ---- layout styles ---- */

body {
  padding: 3% 3%;
  /* background-color: #FAF3EF; */
  background-color: #052719;
}

.content {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 70%;
}

.icons {
  text-align: center;
  margin-top: 48px;
}

@media screen and (max-width: 768px) {
  .content {
    position: initial;
    transform: translate(0%, 0%);
    margin: 0 auto;
    width: 100%;
  }
}



/* ---- text styles ---- */

h1 {
  color: #F6C3AB;
  font-family: "Mazius";
  font-size: 5.4em;
  margin-bottom: 48px;
}

p {
  color: #F6C3AB;
  font-family: "Inter";
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.7;
  padding-bottom: 15px;
}

.text > p > a {
  text-decoration: underline;
  font-weight: 700;
  cursor: pointer;
  color: #F6C3AB;
}

.text > p > a:hover,
.text > p > a:focus {
  cursor: pointer;
  text-decoration: underline;
  font-style: italic;
  font-weight: 700;
  color: #F6C3AB;
  border: none;
  outline: none;
}

.text > p > a:visited {
  cursor: pointer;
  color: #F6C3AB;
}

.icons > a > i {
  font-size: 30px;
  color: #F6C3AB;
  margin: 8px;
}

.icons > a > i:visited {
  color: #F6C3AB;
  cursor: pointer;
}
