@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,500i,700|Spectral:500&display=swap');

/* ---- layout styles ---- */

body {
  padding: 3% 3%;
  background-color: #D2B48C;
}

.content {
  position: absolute;
  left: 50%;
  top: 48%;
  transform: translate(-50%, -50%);
  width: 70%;
}

.icons {
  text-align: center;
  margin-top: 48px;
}

@media screen and (max-width: 768px) {
  .content {
    position: initial;
    transform: translate(0%, 0%);
    margin: 0 auto;
    width: 100%;
  }
}



/* ---- text styles ---- */

h1 {
  color: #212121;
  font-family: "Spectral";
  font-size: 4em;
}

p {
  color: #212121;
  font-family: "IBM Plex Mono";
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1.7;
  padding-bottom: 15px;
}

.text > p > a {
  text-decoration: underline;
  font-weight: 500;
  font-style: italic;
  cursor: pointer;
  color: #212121;
}

.text > p > a:hover,
.text > p > a:focus {
  cursor: pointer;
  text-decoration: underline;
  font-style: normal;
  font-weight: 700;
  color: #212121;
  border: none;
  outline: none;
}

.text > p > a:visited {
  cursor: pointer;
  color: #212121;
}

.icons > a > i {
  font-size: 30px;
  color: #212121;
  margin: 8px;
}

.icons > a > i:visited {
  color: #212121;
  cursor: pointer;
}
